name: Release

on:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.GITHUB_PAT_FROM_ZEKE }}
        lfs: true
    - name: Checkout LFS objects
      run: git lfs checkout
    - name: npm ci
      run: npm ci
    - name: release
      run: |
        git checkout master
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@users.noreply.github.com"

        npm run update
        npm test
        [[ `git status --porcelain` ]] || exit

        echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

        git add .
        # bump the version, commit, and create a tag
        npm version patch -f -m "update all-the-package-repos to %s"

        git push origin master --follow-tags
        npm publish
